<div class="jumbotron">
  <h2>Welcome to "I Haz a Question?"</h2>
  <h6>We might be slighly better than yahoo answers!</h6>
</div>
{{#each model as |question|}}
  {{question.content}}, {{question.author}}
  <br>
{{/each}}
