<h1 id="navbarbuffer">The question is:</h1>
{{question-detail question=model}}
{{question-update question=model updateQuestion="updateQuestion"}}
<br>
<ul>
  {{display-answers}}

</ul>
{{new-answer saveAnswer="saveAnswer" question=model}}
