<h1>The question is:</h1>
<div class="jumbotron">
  <h2>{{model.content}}</h2>
  <br>
  <h5>Submitted by: {{model.author}}</h5>
  <h6>Topic: {{model.topic}}</h6>
</div>
{{question-update question=model updateQuestion="updateQuestion"}}
